{% extends 'nomina/base.html' %}
{% load static %}
{% load humanize %}
{% block titulo %}Novedades{% endblock %}
{% block contenedor %}

<style>
    .boton_regresar, .boton_mas {
        background-color: #EBECE4;
    }

    .boton_regresar:hover, .boton_mas:hover {
        background-color: #000000;
        color: #EBECE4;
    }

    .card {
            background-color: #EBECE4;
            margin: 10px;
        }

    .table thead {
        background-color: #EBECE4 !important;
    }

    td, th {
        border: 1px solid #C4C7C1;
        text-align: center;
        white-space: nowrap;
        padding: 20px;
    }

    .contenedor-imagen-novedad {
        padding: 0 !important;
    }

    .image-novedad {
        width: 100%;
        height: 100px;
        object-fit: cover;
    }

    h2 {
        text-align: center;
    }

</style>

<body style="background-color: #442B1C;">

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="btn btn-light transition duration-300 ease-in-out boton_regresar" href="{% url 'nomina:index' %}">
            Regresar <i class="fa-solid fa-reply"></i>
        </a>
        <h1 class="h3 mb-2 text-gray-800" style="color: #EBECE4;">Novedades</h1>
        <button class="btn rounded btn-light boton_mas" data-bs-toggle="modal" data-bs-target="#novedadModal">
            Crear Novedad
        </button>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="novedadModal" tabindex="-1" aria-labelledby="novedadModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="novedadModalLabel">Crear Novedad</h1>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'nomina:novedad_guardar' %}" method="post">
                    {% csrf_token %}
                    <div id="step1">
                        <p><strong style="color:red;">*</strong>: Obligatorio</p>
                        <div class="mb-3">
                            <label class="form-label">Usuario: <strong style="color:red;">*</strong></label>
                            <select class="form-control" name="usuario" required>
                                <option value="">Seleccionar...</option>
                                {% for usuario in usuarios %}
                                <option value="{{ usuario.id }}">{{ usuario }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Fecha Inicio Novedad: <strong style="color:red;">*</strong></label>
                            <input id="fecha_inicio_novedad" type="date" class="form-control" name="fecha_inicio" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Fecha Fin Novedad: <strong style="color:red;">*</strong></label>
                            <input id="fecha_fin_novedad" type="date" class="form-control" name="fecha_fin">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Salario: <strong style="color:red;">*</strong></label>
                            <input type="number" class="form-control" name="salario" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Días de Incapacidad:</label>
                            <input type="number" class="form-control" name="dias_incapacidad">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Días Trabajados: <strong style="color:red;">*</strong></label>
                            <input type="number" class="form-control" name="dias_trabajados" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Horas Extras Diurnas:</label>
                            <input type="number" class="form-control" name="horas_extras_diurnas">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Horas Extras Diurnas Dom/Fes:</label>
                            <input type="number" class="form-control"
                                   name="horas_extras_diurnas_dom_fes">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Horas Extras Nocturnas:</label>
                            <input type="number" class="form-control" name="horas_extras_nocturnas">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Horas Extras Nocturnas Dom/Fes:</label>
                            <input type="number" class="form-control"
                                   name="horas_extras_nocturnas_dom_fes">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Horas Recargo Nocturno:</label>
                            <input type="number" class="form-control" name="horas_recargo_nocturno">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Horas Recargo Nocturno Dom/Fes:</label>
                            <input type="number" class="form-control"
                                   name="horas_recargo_nocturno_dom_fes">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Horas Recargo Diurno Dom/Fes:</label>
                            <input type="number" class="form-control"
                                   name="horas_recargo_diurno_dom_fes">
                        </div>
                        <button type="button" class="btn btn-secondary" id="nextStep">Siguiente</button>
                    </div>

                    <div id="step2" style="display: none;">
                        <p><strong style="color:red;">*</strong>: Obligatorio</p>
                        <div class="mb-3">
                            <label class="form-label">Comisiones:</label>
                            <input type="number" class="form-control" name="comisiones">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Comisiones Porcentaje:</label>
                            <input type="number" step="0.01" class="form-control"
                                   name="comisiones_porcentaje">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Embargos Judiciales:</label>
                            <input type="number" class="form-control" name="embargos_judiciales">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Libranzas:</label>
                            <input type="number" class="form-control" name="libranzas">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Otros:</label>
                            <input type="number" class="form-control" name="otros">
                        </div>
                        <button type="button" class="btn btn-secondary" id="prevStep">Anterior</button>
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Contenido principal -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            {% for mes, novedades in novedades_por_mes.items %}
                <h2>{{ mes|date:"F"|capfirst }}</h2>
                <table class="mb-5" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Foto</th>
                        <th>Fecha novedad</th>
                        <th>Colaborador</th>
                        <th>Salario</th>
                        <th>Días de Incapacidad</th>
                        <th>Días Trabajados</th>
                        <th>H.E. Diurnas</th>
                        <th>H.E. Diurnas Dom/Fes</th>
                        <th>H.E. Nocturnas</th>
                        <th>H.E. Nocturnas Dom/Fes</th>
                        <th>H.R. Nocturno</th>
                        <th>H.R. Nocturno Dom/Fes</th>
                        <th>H.R. Diurno Dom/Fes</th>
                        <th>Comisiones</th>
                        <th>Comisiones (%)</th>
                        <th>Bonificaciones</th>
                        <th>Embargos Judiciales</th>
                        <th>Libranzas</th>
                        <th>Cooperativas</th>
                        <th>Otros</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in novedades %}
                    <tr>
                        <td>
                            <button class="btn" id="abrirModalEditarNovedad" data-bs-toggle="modal" data-bs-target="#editarModalNovedad{{ i.id }}"><i class="bi bi-pencil-fill"></i></button>
                            <a href="javascript:confirmar_eliminar('{{ i.id }}', '{% url 'nomina:novedad_eliminar' i.id %}');" class="btn"><i class="bi bi-trash-fill"></i></a>
                            <a href="{% url 'nomina:nomina_listar' i.fecha_inicio i.fecha_fin %}" class="btn">Ver nómina</a>
                        </td>
                        <td class="contenedor-imagen-novedad"><img class="image-novedad" src="{{ i.usuario.foto.url }}" alt="Foto de {{ i.usuario }}"></td>
                        <td>{{ i.fecha_fin }}</td>
                        <td>{{ i.usuario }}</td>
                        <td>{{ i.salario|intcomma }}</td>
                        <td>{{ i.dias_incapacidad|default:"" }}</td>
                        <td>{{ i.dias_trabajados }}</td>
                        <td>{{ i.horas_extras_diurnas|default:"" }}</td>
                        <td>{{ i.horas_extras_diurnas_dom_fes|default:"" }}</td>
                        <td>{{ i.horas_extras_nocturnas|default:"" }}</td>
                        <td>{{ i.horas_extras_nocturnas_dom_fes|default:"" }}</td>
                        <td>{{ i.horas_recargo_nocturno|default:"" }}</td>
                        <td>{{ i.horas_recargo_nocturno_dom_fes|default:"" }}</td>
                        <td>{{ i.horas_recargo_diurno_dom_fes|default:"" }}</td>
                        {% if i.comisiones %}
                            <td>${{ i.comisiones|default:""|intcomma }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ i.comisiones_porcentaje|default:"" }}</td>

                        {% if i.bonificaciones %}
                            <td>${{ i.bonificaciones|default:""|intcomma }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if i.embargos_judiciales %}
                            <td>${{ i.embargos_judiciales|default:""|intcomma }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if i.libranzas %}
                            <td>${{ i.libranzas|default:""|intcomma }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if i.cooperativas %}
                            <td>${{ i.cooperativas|default:""|intcomma }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if i.otros %}
                            <td>${{ i.otros|default:""|intcomma }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                    <!-- Modal Editar Novedad -->
                    <div class="modal fade" id="editarModalNovedad{{ i.id }}" tabindex="-1" aria-labelledby="editarModalNovedadLabel{{ i.id }}"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="editarModalNovedadLabel{{ i.id }}">Editar Colaborador</h1>
                                        <button type="button" class="btn btn-close" data-bs-dismiss="modal"
                                                aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body" id="contenidoModalBody">
                                        {% include 'nomina/novedad/novedades_editar.html' with data=i %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const step1 = document.getElementById('step1');
        const step2 = document.getElementById('step2');
        const nextStep = document.getElementById('nextStep');
        const prevStep = document.getElementById('prevStep');

        nextStep.addEventListener('click', () => {
            step1.style.display = 'none';
            step2.style.display = 'block';
        });

        prevStep.addEventListener('click', () => {
            step1.style.display = 'block';
            step2.style.display = 'none';
        });
    });


</script>
<script>

{% endblock %}