{% extends 'nomina/base.html' %}
{% load static %}
{% block contenedor %}
{% if data %}
<form action="{% url 'nomina:colaborador_editar' data.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3" hidden>
        <label class="form-label">ID:</label>
        <input type="text" class="form-control" id="id"
               placeholder="Ingresa nombre" name="id" value="{{ data.id }}">
    </div>
    <div class="mb-3">
        <label class="form-label">Cédula:</label>
        <input type="number" class="form-control"
               placeholder="Ingresa cédula" value="{{ data.cedula }}" name="cedula_editar">
    </div>
    <div class="mb-3">
        <label class="form-label">Nombre:</label>
        <input type="text" class="form-control"
               placeholder="Ingresa nombre" value="{{ data.nombre }}" name="nombre_editar">
    </div>
    <div class="mb-3">
        <label class="form-label">Apellido:</label>
        <input type="text" class="form-control"
               placeholder="Ingresa apellido" value="{{ data.apellido }}" name="apellido_editar">
    </div>
    <div class="mb-3">
        <label class="form-label">Correo:</label>
        <input type="text" class="form-control"
               placeholder="Ingresa correo" value="{{ data.correo }}" name="correo_editar">
    </div>
    <div class="mb-3">
        <label class="form-label col-sm-6">Foto:</label>
        <div class="row">
            {% if data.foto %}
            <img src="{{ data.foto.url }}" style="width: 200px !important; height: 200px !important;">
            {% else %}
            <img style="width: 200px !important; height: 200px !important;" src="{% static 'nomina/img/empresario1.jpg' %}">
            {% endif %}
            <p class="col-sm-6">
                Cambiar imagen: <input type="file" class="form-control"
                   placeholder="Ingresa foto" name="foto_editar" accept="image/*">
            </p>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Cargo:</label>
        <input type="text" class="form-control" id="cargo_editar"
               placeholder="Ingresa el cargo" name="cargo_editar" value="{{ data.cargo }}">
    </div>
    <div class="mb-3">
        <label class="form-label">Salario: <strong style="color:red;">*</strong></label>
        <input type="number" class="form-control" id="salario_editar"
               placeholder="Ingresa el salario" name="salario_editar" value="{{ data.salario }}">
    </div>
    {% if data.riesgo %}
    <div class="mb-3">
        <label class="form-label">Riesgo: <strong style="color:red;">*</strong></label>
        <h6>Valor anterior: {{ data.riesgo }}</h6>
        Cambiar: <input type="number" step="0.001" class="form-control" id="riesgo_editar"
               placeholder="Ingresa el riesgo" name="riesgo_editar" value="{{ data.riesgo }}">
    </div>
    {% endif %}
    <div class="mb-3">
        <label class="form-label">Tipo de contrato: <strong style="color:red;">*</strong></label>
        <input type="text" class="form-control" id="tipo_contrato_editar"
               placeholder="Ingresa el tipo de contrato" name="tipo_contrato_editar" value="{{ data.tipo_contrato }}">
    </div>
    <div class="mb-3">
        <label class="form-label">Fecha fin del contrato:</label>
        <input type="date" class="form-control" id="fecha_fin_contrato_editar"
               placeholder="Ingresa la fecha fin del contrato" name="fecha_fin_contrato_editar" value="{{ data.fecha_fin_contrato }}">
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>
<!--
<script>
    function togglePassword(fieldId) {
        const passwordField = document.getElementById(fieldId);
        const eyeIcon = document.getElementById(`eye-${fieldId}`);
        if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeIcon.classList.remove('fa-eye');
            eyeIcon.classList.add('fa-eye-slash');
        } else {
            passwordField.type = "password";
            eyeIcon.classList.remove('fa-eye-slash');
            eyeIcon.classList.add('fa-eye');
        }
    }

    function validatePassword() {
        const password = document.getElementById("contrasena_editar").value;
        const confirmPassword = document.getElementById("confirmar_contrasena_editar").value;
        const message = document.getElementById("password-match");

        if (password === confirmPassword) {
            message.textContent = "Las contraseñas coinciden.";
            message.style.color = "green";
        } else {
            message.textContent = "Las contraseñas no coinciden.";
            message.style.color = "red";
        }
    }

    function validarContrasena() {
        const contrasena = document.getElementById('contrasena_editar').value;
        const mensajeError = document.getElementById('mensajeError');

        // Expresión regular para validar la contraseña
        const regex = /^(?=.*[A-Z])(?=.*[\W_])(?=.*[a-zA-Z0-9]).{8,}$/;

        if (!regex.test(contrasena)) {
            mensajeError.textContent = "La contraseña debe tener al menos 8 caracteres, incluir una letra mayúscula y un símbolo.";
            mensajeError.style.color = "red";
            return false;
        } else {
            mensajeError.textContent = "";
            return true;
        }
    }

    // Escuchar el evento 'input' en el campo de la contraseña para validar en tiempo real
    document.getElementById('contrasena').addEventListener('input', validarContrasena);
    document.getElementById('contrasena').addEventListener('input', validatePassword);
    document.getElementById('confirmar_contrasena').addEventListener('input', validatePassword);
</script>
-->
{% endif %}
{% endblock %}