{% extends 'nomina/base.html' %}
{% load static %}
{% block titulo %}Colaboradores{% endblock %}
{% block contenedor %}

<style>
    .boton_regresar, .boton_mas {
        background-color: #EBECE4;
    }

    .boton_regresar:hover, .boton_mas:hover {
        background-color: #000000;
        color: #EBECE4;
    }

    .contenedor_colaboradores {
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: space-between;
    }

    .contenedor_colaborador {
        text-align: center;
        width: 300px;
        overflow: hidden;
        border-radius: 20px 20px 0 0px;
        --tw-shadow: 0px 10px 10px 0px #ccc;
        --tw-shadow-colored: 0px 10px 10px 0px #000000;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    }

    .img-colaborador {
        margin: auto;
        width: 300px !important;
        height: 300px;
    }

    #ver_mas_info {
        background-color: #EBECE4;
        text-align: center;
        flex-direction: column;
        width: 300px !important;
        display: none;
        position: absolute;
        padding: 20px;
        --tw-shadow-colored: 0px 10px 10px 0px #000000;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        border-radius: 0 0px 20px 20px;
    }

    h4 {
        width: 100% !important;
        white-space: nowrap;

    }

    h6 {
        font-weight: normal !important;
        font-size: 14px;
    }

    .info_colaborador {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .card {
        background-color: #EBECE4;
    }

    .modal-content {
        background-color: #EBECE4 !important;
    }

    .boton_colaboradores_retirados {
        height: 50px;
        width: 200px;
        margin-left: auto;
    }

    #retirados {
        gap: 50px;
        display: none;
    }

    #activos {
        gap: 50px;
        display: flex;
    }

    .menu-acciones {
        padding: 10px;
        border-radius: 5px;
        margin-top: 20px;
    }

    .menu-acciones button, .menu-acciones a {
        display: block;
        width: 100%;
        padding: 5px 10px;
        text-align: left;
        background-color: transparent;
        border: none;
        color: #333;
        text-decoration: none;
    }

    .menu-acciones button:hover, .menu-acciones a:hover {
        background-color: #f0f0f0;
        cursor: pointer;
    }

</style>

<body style="background-color: #442B1C;">

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="btn btn-light transition duration-300 ease-in-out boton_regresar" href="{% url 'nomina:index' %}">
            Regresar <i class="fa-solid fa-reply"></i>
        </a>
        <h1 class="h3 mb-2 text-gray-800" style="color: #EBECE4;">Colaboradores</h1>
        <button class="btn btn-light rounded boton_mas" data-bs-toggle="modal" data-bs-target="#colaboradorModal">
            Crear Colaborador
        </button>
    </div>
</nav>


<!-- Modal Crear Colaborador -->
<div class="modal fade" id="colaboradorModal" tabindex="-1" aria-labelledby="colaboradorModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="colaboradorModalLabel">Crear Colaborador</h1>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'nomina:colaborador_guardar' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p><strong style="color:red;">*</strong>: Obligatorio</p>
                    <div class="mb-3" hidden>
                        <label for="nombre" class="form-label">ID:</label>
                        <input type="text" class="form-control" id="id"
                               placeholder="Ingresa nombre" name="id" value="{{ data.id }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Cédula: <strong style="color:red;">*</strong></label>
                        <input type="number" class="form-control" id="cedula"
                               placeholder="Ingresa cédula" name="cedula">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nombre: <strong style="color:red;">*</strong></label>
                        <input type="text" class="form-control" id="nombre"
                               placeholder="Ingresa nombre" name="nombre">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Apellido: <strong style="color:red;">*</strong></label>
                        <input type="text" class="form-control" id="apellido"
                               placeholder="Ingresa apellido" name="apellido">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Correo: <strong style="color:red;">*</strong></label>
                        <input type="text" class="form-control" id="correo"
                               placeholder="Ingresa correo" name="correo">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contraseña: <strong style="color:red;">*</strong></label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="contrasena" placeholder="Ingresa contraseña" name="contrasena">
                            <span class="input-group-text" onclick="togglePassword('contrasena')">
                                <i class="fa fa-eye" id="eye-contrasena"></i>
                            </span>
                        </div>
                        <span id="mensajeError"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirmar contraseña: <strong style="color:red;">*</strong></label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="confirmar_contrasena" placeholder="Confirma contraseña" name="confirmar_contrasena" onkeyup="validatePassword()">
                            <span class="input-group-text" onclick="togglePassword('confirmar_contrasena')">
                                <i class="fa fa-eye" id="eye-confirmar_contrasena"></i>
                            </span>
                        </div>
                        <div id="password-match" style="color:red;"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Foto: <strong style="color:red;">*</strong></label>
                        <input type="file" class="form-control" id="foto"
                               placeholder="Ingresa foto" name="foto" accept="image/*">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Cargo: <strong style="color:red;">*</strong></label>
                        <select class="form-control" id="cargo" name="cargo">
                            {% for key, value in CARGOS %}
                            <option value="{{ key }}" {% if data.cargo == key %} selected {% endif %}>{{ value }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Riesgo: <strong style="color:red;">*</strong></label>
                        <input type="number" step="0.001" class="form-control" id="riesgo"
                               placeholder="Ingresa el riesgo" name="riesgo">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tipo de contrato: <strong style="color:red;">*</strong></label>
                        <select class="form-control" id="tipo_contrato" name="tipo_contrato">
                            {% for key, value in CLASE_CONTRATO %}
                            <option value="{{ key }}" {% if data.tipo_contrato == key %} selected {% endif %}>{{ value }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Fecha fin del contrato:</label>
                        <input type="date" class="form-control" id="fecha_fin_contrato"
                               placeholder="Ingresa la fecha fin del contrato" name="fecha_fin_contrato">
                    </div>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Contenido principal -->
<div class="card shadow mb-4">
    <div class="card-body contenedor_colaboradores">
        <div id="activos">
            {% for c in data %}
            <div class="contenedor_colaborador">
                <div style="position: relative;">
                    <img class="img-colaborador" src="{{ c.foto.url }}" alt="">
                    <!-- Ícono de tres puntos en la esquina superior derecha -->
                    <div style="position: absolute; top: 10px; right: 10px; cursor: pointer; background-color: #fff; padding: 10px 20px; border-radius: 500px;" onclick="toggleMenu({{ c.id }})">
                        <i class="fa fa-ellipsis-v" ></i>
                    </div>

                    <!-- Menú desplegable -->
                    <div id="menu-{{ c.id }}" class="menu-acciones" style="display: none; position: absolute; top: 30px; right: 10px; background-color: white; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); z-index: 100;">
                        <button title="Editar colaborador" class="btn" data-bs-toggle="modal" data-bs-target="#editarModal{{ c.id }}">
                            <i class="bi bi-pencil-fill"></i> Editar
                        </button>
                        <a title="Liquidar colaborador" class="btn" href="javascript:confirmar_liquidar('{{ c.id }}', '{% url 'nomina:liquidacion' c.id %}');">
                            <i class="bi bi-receipt"></i> Liquidar
                        </a>
                    </div>
                </div>
                <div class="info_colaborador">
                    <h4>{{ c.nombre }} {{ c.apellido }}</h4>
                    <h6>{{ c.get_cargo_display }}</h6>
                    <!--<div>
                        <button title="Editar colaborador" id="abrirModal" class="btn" data-bs-toggle="modal"
                                data-bs-target="#editarModal{{ c.id }}"><i class="bi bi-pencil-fill"></i></button>
                        <a title="Liquidar colaborador" class="btn" href="javascript:confirmar_liquidar('{{ c.id }}', '{% url 'nomina:liquidacion' c.id %}');"><i class="bi bi-receipt"></i></a>
                    </div>-->
                </div>
                <div>
                    <button id="verMas" class="mb-4 link-dark" onclick="verMasButton(this)">
                        Ver más <i class="fa-solid fa-angle-down"></i>
                    </button>
                    <div id="ver_mas_info">
                        <h6>Fecha de ingreso: {{ c.fecha_ingreso }}</h6>
                        <h6>Correo: {{ c.correo }}</h6>
                        <h6>Riesgo: {{ c.riesgo }}</h6>
                        <h6>Tipo de contrato: {{ c.get_tipo_contrato_display }}</h6>
                        {% if c.fecha_fin_contrato %}
                        <h6>Fecha fin de contrato: {{ c.fecha_fin_contrato }}</h6>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Modal Editar Colaborador -->
            <div class="modal fade" id="editarModal{{ c.id }}" tabindex="-1"
                 aria-labelledby="editarModalLabel{{ c.id }}"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="editarModalLabel{{ c.id }}">Editar Colaborador</h1>
                            <button type="button" class="btn btn-close" data-bs-dismiss="modal"
                                    aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body" id="contenidoModalBody">
                            {% include 'nomina/colaborador/colaborador-editar.html' with data=c %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="retirados">
            {% for r in retirados %}
            <div class="contenedor_colaborador">
                <div>
                    <img class="img-colaborador" src="{{ r.foto.url }}" alt="">
                </div>
                <div class="info_colaborador">
                    <h4>{{ r.nombre }} {{ r.apellido }}</h4>
                    <h6>{{ r.get_cargo_display }}</h6>
                </div>
                <div>
                    <button id="verMas" class="mb-4 link-dark" onclick="verMasButton(this)">
                        Ver más <i class="fa-solid fa-angle-down"></i>
                    </button>
                    <div id="ver_mas_info">
                        <h6>Fecha de ingreso: {{ r.fecha_ingreso }}</h6>
                        <h6>Fecha de retiro: {{ r.fecha_retiro }}</h6>
                        <h6>Motivo de retiro: {{ r.motivo_retiro }}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <button id="btnRetirados" class="btn btn-dark boton_colaboradores_retirados" onclick="mostrarRetirados()">
            Colaboradores retirados
        </button>
    </div>
</div>


<script>
    function mostrarRetirados() {
        const btnRetirados = document.getElementById("btnRetirados");
        const retirados = document.getElementById("retirados");
        const activos = document.getElementById("activos");

        if (activos.style.display === 'none') {
            // Mostrar activos y ocultar retirados
            activos.style.display = 'flex';
            retirados.style.display = 'none';
            btnRetirados.textContent = 'Colaboradores retirados'; // Cambia el texto del botón si es necesario
        } else {
            // Ocultar activos y mostrar retirados
            activos.style.display = 'none';
            retirados.style.display = 'flex';
            btnRetirados.textContent = 'Colaboradores activos'; // Cambia el texto del botón si es necesario
        }
    }

    function confirmar_liquidar(id, url) {
        if (confirm("¿Estás seguro de que deseas liquidar a este colaborador?")) {
            window.location.href = url;
        }
    }

    function verMasButton(button) {
        var info = button.nextElementSibling;
        if (info.style.display === "none" || info.style.display === "") {
            info.style.display = "flex";
            button.innerHTML = "Ver menos <i class='fa-solid fa-angle-up'></i>";
        } else {
            info.style.display = "none";
            button.innerHTML = "Ver más <i class='fa-solid fa-angle-down'></i>";
        }
    }

    function togglePassword(fieldId) {
        const passwordField = document.getElementById(fieldId);
        const eyeIcon = document.getElementById(`eye-${fieldId}`);
        if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeIcon.classList.remove('fa-eye');
            eyeIcon.classList.add('fa-eye-slash');
        } else {
            passwordField.type = "password";
            eyeIcon.classList.remove('fa-eye-slash');
            eyeIcon.classList.add('fa-eye');
        }
    }

    function validatePassword() {
        const password = document.getElementById("contrasena").value;
        const confirmPassword = document.getElementById("confirmar_contrasena").value;
        const message = document.getElementById("password-match");

        if (password === confirmPassword) {
            message.textContent = "Las contraseñas coinciden.";
            message.style.color = "green";
        } else {
            message.textContent = "Las contraseñas no coinciden.";
            message.style.color = "red";
        }
    }

    function validarContrasena() {
        const contrasena = document.getElementById('contrasena').value;
        const mensajeError = document.getElementById('mensajeError');

        // Expresión regular para validar la contraseña
        const regex = /^(?=.*[A-Z])(?=.*[\W_])(?=.*[a-zA-Z0-9]).{8,}$/;

        if (!regex.test(contrasena)) {
            mensajeError.textContent = "La contraseña debe tener al menos 8 caracteres, incluir una letra mayúscula y un símbolo.";
            mensajeError.style.color = "red";
            return false;
        } else {
            mensajeError.textContent = "";
            return true;
        }
    }

    function toggleMenu(id) {
        var menu = document.getElementById("menu-" + id);
        if (menu.style.display === "none" || menu.style.display === "") {
            menu.style.display = "block";
        } else {
            menu.style.display = "none";
        }
    }


    // Escuchar el evento 'input' en el campo de la contraseña para validar en tiempo real
    document.getElementById('contrasena').addEventListener('input', validarContrasena);
    document.getElementById('contrasena').addEventListener('input', validatePassword);
    document.getElementById('confirmar_contrasena').addEventListener('input', validatePassword);

</script>


</body>
{% endblock %}
