{% extends 'nomina/base.html' %}
{% load static %}
{% block titulo %}Colaboradores{% endblock %}
{% block contenedor %}
<link href="{% static 'nomina/css/index.css' %}" rel="stylesheet">

<style>
    .boton_regresar, .boton_mas {
        background-color: #EBECE4;
    }

    .boton_regresar:hover, .boton_mas:hover {
        background-color: #000000;
        color: #EBECE4;
    }

    .boton_inicio i {
        font-size: 35px;
        color: #EBECE4;
    }

    .card {
        background-color: #EBECE4;
    }

    .contenedor_todo {
        display: flex;
        position: relative;
        flex-direction: row;
        padding: 20px;
    }

    .contenedor_colaboradores, #retirados{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias filas */
        justify-content: flex-start; /* Asegura que los elementos se alineen al inicio */
        gap: 30px;
    }

    .contenedor_colaborador {
        text-align: center;
        width: 300px;
        overflow: hidden;
        border-radius: 20px 20px 0 0px;
        --tw-shadow: 0px 10px 10px 0px #ccc;
        --tw-shadow-colored: 0px 10px 10px 0px #000000;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        box-sizing: border-box; /* Incluye el padding y border en el ancho total */
    }

    .img-colaborador {
        margin: auto;
        width: 100%; /* Ajusta el ancho de la imagen al contenedor */
        height: 300px;
        object-fit: cover; /* Ajusta la imagen para que cubra el área del contenedor */
    }

    #ver_mas_info {
        background-color: #EBECE4;
        text-align: center;
        flex-direction: column;
        width: 300px;
        display: none;
        position: absolute;
        padding: 20px;
        --tw-shadow-colored: 0px 10px 10px 0px #000000;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        border-radius: 0 0px 20px 20px;
        z-index: 100;
    }

    h4 {
        width: 100%;
        white-space: nowrap;
    }

    h6 {
        font-weight: normal;
        font-size: 14px;
    }

   .info_colaborador {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .modal-content {
        background-color: #EBECE4 !important;
    }

    .contenedor_boton_colaboradores_retirados {
        position: absolute;
        top: 0 !important;
        right: 0 !important;
    }

    .boton_colaboradores_retirados {
        height: 50px;
        width: 200px;
        margin-left: auto;
    }

    #retirados {
        display: none;
    }

    .contenedor_presentacion_colaborador {
        position: relative;
    }

    .boton-menu-acciones {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px 20px;
        background-color: #fff;
        border-radius: 100px;
        cursor: pointer;
    }

    .menu-acciones {
        padding: 10px;
        border-radius: 5px;
    }

    .menu-acciones button, .menu-acciones a {
        display: block;
        width: 100%;
        padding: 5px 10px;
        text-align: left;
        background-color: transparent;
        border: none;
        color: #333;
        text-decoration: none;
    }

    .menu-acciones button:hover, .menu-acciones a:hover {
        background-color: #f0f0f0;
        cursor: pointer;
    }

    .contenedor_crear_usuario {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        color: #fff;
    }

    .crear_usuario_opciones {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .link-crear-usuario {
        border: 0 solid transparent !important;
    }

    .opciones {
        color: #fff !important;
        width: 200px;
        height: 200px;
        border-radius: 500px;
        border: 5px solid #fff;
        padding: 30px;
    }

    .opciones:hover {
        color: #442B1C !important;
        background-color: #fff;
    }

    .iconos-crear-usuario {
        font-size: 50px;
    }

    .bi-list {
        font-size: 25px;
        color: #fff;
    }

    .acciones_principal {
        cursor: pointer;
    }

</style>

<body style="background-color: #442B1C;">

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid d-flex align-items-center">
        <div>
            <a class="btn transition duration-300 ease-in-out boton_inicio" href="{% url 'nomina:index' %}">
                <i class="bi bi-house-fill"></i>
            </a>
        </div>
        {% if data %}
        <h1 class="h3 mb-2 text-gray-800" style="color: #EBECE4;">Colaboradores</h1>
        <div class="acciones_principal" onclick="toggleMenuDefault()">
            <i class="bi bi-list"></i>
        </div>
        <div id="toggle_menu" class="menu-acciones" style="display: none; position: absolute; top: 30px; right: 10px; background-color: white; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); z-index: 100;">
            <button class="btn btn-light rounded" data-bs-toggle="modal" data-bs-target="#colaboradorModal">
                <i class="bi bi-person-add"></i> Crear colaborador nuevo
            </button>
            <button class="btn btn-light rounded" data-bs-toggle="modal" data-bs-target="#excelModal">
                <i class="bi bi-file-earmark-plus-fill"></i> Importar desde Excel
            </button>
        </div>
        {% endif %}
    </div>
</nav>


{% if data %}
<!-- Contenido principal -->
<div class="card shadow mb-4 contenedor_todo">
    <div id="contenedor_colaborador" class="card-body contenedor_colaboradores">
        {% for c in data %}
        <div class="contenedor_colaborador">
            <div class="contenedor_presentacion_colaborador">
                {% if c.foto %}
                <img class="img-colaborador" src="{{ c.foto.url }}" alt="">
                {% else %}
                <img class="img-colaborador" src="{% static 'nomina/img/empresario1.jpg' %}" alt="">
                {% endif %}
                <!-- Ícono de tres puntos en la esquina superior derecha -->
                <div class="boton-menu-acciones" onclick="toggleMenu({{ c.id }})">
                    <i class="fa fa-ellipsis-v" ></i>
                </div>

                <!-- Menú desplegable -->
                <div id="menu-{{ c.id }}" class="menu-acciones" style="display: none; position: absolute; top: 30px; right: 10px; background-color: white; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); z-index: 100;">
                    <button title="Editar colaborador" class="btn" data-bs-toggle="modal" data-bs-target="#editarModal{{ c.id }}">
                        <i class="bi bi-pencil-fill"></i> Editar
                    </button>
                    <a title="Liquidar colaborador" class="btn" href="javascript:confirmar_liquidar('{{ c.id }}', '{% url 'nomina:liquidacion' c.id %}');">
                        <i class="bi bi-receipt"></i> Liquidar
                    </a>
                </div>
            </div>
            <div class="info_colaborador">
                <h4>{{ c.nombre }} {{ c.apellido }}</h4>
                <h6>{{ c.cargo }}</h6>
                <!--<div>
                    <button title="Editar colaborador" id="abrirModal" class="btn" data-bs-toggle="modal"
                            data-bs-target="#editarModal{{ c.id }}"><i class="bi bi-pencil-fill"></i></button>
                    <a title="Liquidar colaborador" class="btn" href="javascript:confirmar_liquidar('{{ c.id }}', '{% url 'nomina:liquidacion' c.id %}');"><i class="bi bi-receipt"></i></a>
                </div>-->
            </div>
            <div class="ver_mas_contenedor">
                <button id="verMas" class="mb-4 link-dark" onclick="verMasButton(this)">
                    Ver más <i class="fa-solid fa-angle-down"></i>
                </button>
                <div id="ver_mas_info">
                    <h6>Fecha de ingreso: {{ c.fecha_ingreso }}</h6>
                    <h6>Correo: {{ c.correo }}</h6>
                    <h6>Cédula: {{ c.cedula }}</h6>
                    <h6>Tipo de contrato: {{ c.tipo_contrato }}</h6>
                    {% if c.fecha_fin_contrato %}
                    <h6>Fecha fin de contrato: {{ c.fecha_fin_contrato }}</h6>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Modal Editar Colaborador -->
        <div class="modal fade" id="editarModal{{ c.id }}" tabindex="-1"
             aria-labelledby="editarModalLabel{{ c.id }}"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editarModalLabel{{ c.id }}">Editar Colaborador</h1>
                        <button type="button" class="btn btn-close" data-bs-dismiss="modal"
                                aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body" id="contenidoModalBody">
                        {% include 'nomina/colaborador/colaborador-editar.html' with data=c %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Colaboradores retirados -->
    <div id="retirados">
        {% if retirados %}
            {% for r in retirados %}
            <div class="contenedor_colaborador">
                <div>
                    {% if r.foto %}
                    <img class="img-colaborador" src="{{ r.foto.url }}" alt="">
                    {% else %}
                    <img class="img-colaborador" src="{% static 'nomina/img/empresario1.jpg' %}" alt="">
                    {% endif %}
                </div>
                <div class="info_colaborador">
                    <h4>{{ r.nombre }} {{ r.apellido }}</h4>
                    <h6>{{ r.cargo }}</h6>
                </div>
                <div>
                    <button id="verMas" class="mb-4 link-dark" onclick="verMasButton(this)">
                        Ver más <i class="fa-solid fa-angle-down"></i>
                    </button>
                    <div id="ver_mas_info">
                        <h6>Fecha de ingreso: {{ r.fecha_ingreso }}</h6>
                        <h6>Fecha de retiro: {{ r.fecha_retiro }}</h6>
                        <h6>Motivo de retiro: {{ r.motivo_retiro }}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        No hay colaboradores retirados...
        {% endif %}
    </div>
    <div class="contenedor_boton_colaboradores_retirados">
        <button id="btnRetirados" class="btn btn-dark boton_colaboradores_retirados" onclick="mostrarRetirados()">
            Colaboradores retirados
        </button>
    </div>
</div>
{% else %}
<div class="contenedor_crear_usuario">
    <h1>Crear colaborador(es) nuevo(s)</h1>
    <div class="crear_usuario_opciones">
        <button class="link-crear-usuario btn" data-bs-toggle="modal" data-bs-target="#colaboradorModal">
            <div class="opciones transition duration-100 ease-in-out ">
                <i class="iconos-crear-usuario bi bi-person-fill"></i>
                <p>Crear colaborador nuevo</p>
            </div>
        </button>
        <button class="link-crear-usuario btn" data-bs-toggle="modal" data-bs-target="#excelModal">
            <div class="opciones transition duration-100 ease-in-out ">
                <i class="iconos-crear-usuario bi bi-file-earmark-spreadsheet-fill"></i>
                <p>
                    Importar desde Excel
                </p>
            </div>
        </button>
    </div>
</div>
{% endif %}

<!-- Modal Crear Colaborador -->
<div class="modal fade" id="colaboradorModal" tabindex="-1" aria-labelledby="colaboradorModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="colaboradorModalLabel">Crear Colaborador</h1>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'nomina:colaborador_guardar' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p><strong style="color:red;">*</strong>: Obligatorio</p>
                    <div class="mb-3">
                        <label class="form-label">Cédula: <strong style="color:red;">*</strong></label>
                        <input type="number" class="form-control" id="cedula"
                               placeholder="Ingresa cédula" name="cedula">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nombre: <strong style="color:red;">*</strong></label>
                        <input type="text" class="form-control" id="nombre"
                               placeholder="Ingresa nombre" name="nombre">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Apellido: <strong style="color:red;">*</strong></label>
                        <input type="text" class="form-control" id="apellido"
                               placeholder="Ingresa apellido" name="apellido">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Correo: <strong style="color:red;">*</strong></label>
                        <input type="email" class="form-control" id="correo"
                               placeholder="Ingresa correo" name="correo">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Foto: <strong style="color:red;">*</strong></label>
                        <input type="file" class="form-control" id="foto"
                               placeholder="Ingresa foto" name="foto" accept="image/*">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Cargo: <strong style="color:red;">*</strong></label>
                        <input type="text" class="form-control" id="cargo"
                               placeholder="Ingresa cargo" name="cargo">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Riesgo: <strong style="color:red;">*</strong></label>
                        <input type="number" step="0.001" class="form-control" id="riesgo"
                               placeholder="Ingresa el riesgo" name="riesgo">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Salario: <strong style="color:red;">*</strong></label>
                        <input type="number" class="form-control" id="salario"
                               placeholder="Ingresa el salario" name="salario">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tipo de contrato: <strong style="color:red;">*</strong></label>
                        <input type="text" class="form-control" id="tipo_contrato"
                               placeholder="Ingresa el tipo de contrato" name="tipo_contrato">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Fecha fin del contrato:</label>
                        <input type="date" class="form-control" id="fecha_fin_contrato"
                               placeholder="Ingresa la fecha fin del contrato" name="fecha_fin_contrato">
                    </div>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Insertar Excel -->
<div class="modal fade" id="excelModal" tabindex="-1" aria-labelledby="excelModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="excelModalLabel">Insertar Excel</h1>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p>Puedes registrar a tus colaboradores por medio de Excel, descargando este formato y llenándolo con la información de tus empleados. <a href="{% static 'nomina/files/formato_colaborador.xlsm' %}" download="formato_colaborador.xlsm">Descargar formato</a></p>
                <form method="post" action="{% url 'nomina:colaborador_guardar_excel' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group flex-nowrap mb-[22px]">
                        <span style="border: 2px solid #c9c9c9;"  class="input-group-text bg-transparent"><i class="bi bi-upload"></i></span>
                        <input style="border: 2px solid #c9c9c9;"
                               type="file"
                               accept=".xls,.xlsx,.xlsm,.csv"
                               class="form-control bg-transparent"
                               placeholder="Archivo Excel"
                               name="archivo_excel"
                               aria-label="Archivo Excel"
                               aria-describedby="addon-wrapping"
                               required>
                    </div>
                    <div class="mb-4">
                        <button value="Sign Up" type="submit"
                            class="w-full px-5 py-3 text-white transition duration-300 ease-in-out border rounded-md cursor-pointer botones_landing">Guardar colaboradores</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function mostrarRetirados() {
        const btnRetirados = document.getElementById("btnRetirados");
        const retirados = document.getElementById("retirados");
        const activos = document.getElementById("contenedor_colaborador");

        if (activos.style.display === 'none') {
            // Mostrar activos y ocultar retirados
            activos.style.display = 'flex';
            retirados.style.display = 'none';
            btnRetirados.textContent = 'Colaboradores retirados'; // Cambia el texto del botón si es necesario
        } else {
            // Ocultar activos y mostrar retirados
            activos.style.display = 'none';
            retirados.style.display = 'flex';
            btnRetirados.textContent = 'Colaboradores activos'; // Cambia el texto del botón si es necesario
        }
    }

    function confirmar_liquidar(id, url) {
        if (confirm("¿Estás seguro de que deseas liquidar a este colaborador?")) {
            window.location.href = url;
        }
    }

    function verMasButton(button) {
        var info = button.nextElementSibling;
        if (info.style.display === "none" || info.style.display === "") {
            info.style.display = "flex";
            button.innerHTML = "Ver menos <i class='fa-solid fa-angle-up'></i>";
        } else {
            info.style.display = "none";
            button.innerHTML = "Ver más <i class='fa-solid fa-angle-down'></i>";
        }
    }

    function toggleMenu(id) {
        var menu = document.getElementById("menu-" + id);
        if (menu.style.display === "none" || menu.style.display === "") {
            menu.style.display = "block";
        } else {
            menu.style.display = "none";
        }
    }

    function toggleMenuDefault() {
        var menu = document.getElementById("toggle_menu");
        if (menu.style.display === "none" || menu.style.display === "") {
            menu.style.display = "block";
        } else {
            menu.style.display = "none";
        }
    }

</script>

</body>
{% endblock %}
