{% extends 'nomina/base.html' %}
{% load static %}
{% block titulo %}Colaboradores{% endblock %}
{% block contenedor %}

<style>
        .boton_regresar, .boton_mas {
            background-color: #EBECE4;
        }

        .boton_regresar:hover, .boton_mas:hover {
            background-color: #000000;
            color: #EBECE4;
        }

        .contenedor_colaboradores {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 70px;
        }

        .contenedor_colaborador {
            text-align: center;
            width: 200px;
            overflow: hidden;
            border-radius: 20px 20px 0 0px;
            --tw-shadow: 0px 10px 10px 0px #ccc;
            --tw-shadow-colored: 0px 10px 10px 0px #000000;
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        }

        .img-colaborador {
            margin: auto;
            width: 200px;
            height: 300px;
        }

        #ver_mas_info {
            background-color: #EBECE4;
            text-align: center;
            flex-direction: column;
            width: 200px !important;
            display: none;
            position: absolute;
            padding: 20px;
            --tw-shadow: 0px 10px 10px 0px #ccc;
            --tw-shadow-colored: 0px 10px 10px 0px #000000;
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
            border-radius: 0 0px 20px 20px;
        }

        h4 {
            width: 100% !important;
            white-space: nowrap;

        }

        h6 {
            font-weight: normal !important;
            font-size: 14px;
        }

        .info_colaborador {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }

        .card {
            background-color: #EBECE4;
        }

        .modal-content {
            background-color: #EBECE4 !important;
        }
</style>

<body style="background-color: #442B1C;">

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="btn btn-light transition duration-300 ease-in-out boton_regresar" href="{% url 'nomina:index' %}">
            Regresar <i class="fa-solid fa-reply"></i>
        </a>
        <h1 class="h3 mb-2 text-gray-800" style="color: #EBECE4;">Colaboradores</h1>
        <button class="btn btn-light rounded boton_mas" data-bs-toggle="modal" data-bs-target="#colaboradorModal" >
            Crear Colaborador
        </button>
    </div>
</nav>


<!-- Modal Crear Colaborador -->
<div class="modal fade" id="colaboradorModal" tabindex="-1" aria-labelledby="colaboradorModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="colaboradorModalLabel">Crear Colaborador</h1>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'nomina:colaborador_guardar' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3" hidden>
                        <label for="nombre" class="form-label">ID:</label>
                        <input type="text" class="form-control" id="id"
                               placeholder="Ingresa nombre" name="id" value="{{ data.id }}">
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre"
                               placeholder="Ingresa nombre" name="nombre">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Apellido:</label>
                        <input type="text" class="form-control" id="apellido"
                               placeholder="Ingresa apellido" name="apellido">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Cédula:</label>
                        <input type="number" class="form-control" id="cedula"
                               placeholder="Ingresa cédula" name="cedula">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Correo:</label>
                        <input type="text" class="form-control" id="correo"
                               placeholder="Ingresa correo" name="correo">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contraseña</label>
                        <input type="text" class="form-control" id="contrasena"
                               placeholder="Ingresa contraseña" name="contrasena">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Foto:</label>
                        <input type="file" class="form-control" id="foto"
                               placeholder="Ingresa foto" name="foto" accept="image/*">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Cargo:</label>
                        <select class="form-control" id="cargo" name="cargo">
                            {% for key, value in CARGOS %}
                            <option value="{{ key }}" {% if data.cargo == key %} selected {% endif %}>{{ value }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Contenido principal -->
    <div class="card shadow mb-4">
        <div class="card-body contenedor_colaboradores">
            {% if data %}
                {% for c in data %}
                    <div class="contenedor_colaborador">
                        <div>
                            <img class="img-colaborador" src="{{ c.foto.url }}" alt="">
                        </div>
                        <div class="info_colaborador">
                            <h4>{{ c.nombre }} {{ c.apellido }}</h4>
                            <div>
                                <button id="abrirModal" class="btn" data-bs-toggle="modal" data-bs-target="#editarModal{{ c.id }}"><i class="bi bi-pencil-fill"></i></button>
                                <a href="javascript:confirmar_eliminar('{{ c.id }}', '{% url 'nomina:colaborador_eliminar' c.id %}');" class="btn"><i class="bi bi-trash-fill"></i></a>
                            </div>
                        </div>
                        <div>
                            <button id="verMas" class="mb-4 link-dark" onclick="verMasButton(this)">
                                Ver más <i class="fa-solid fa-angle-down"></i>
                            </button>
                            <div id="ver_mas_info">
                                <h6>{{ c.correo }}</h6>
                                <h6>{{ c.get_rol_display }}</h6>
                                <h6>{{ c.get_cargo_display }}</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Editar Colaborador -->
                    <div class="modal fade" id="editarModal{{ c.id }}" tabindex="-1" aria-labelledby="editarModalLabel{{ c.id }}"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="editarModalLabel{{ c.id }}">Editar Colaborador</h1>
                                    <button type="button" class="btn btn-close" data-bs-dismiss="modal"
                                            aria-label="Close">
                                    </button>
                                </div>
                                <div class="modal-body" id="contenidoModalBody">
                                    {% include 'nomina/colaborador/colaborador-editar.html' with data=c %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

<script>
    function verMasButton(button) {
        var info = button.nextElementSibling;
        if (info.style.display === "none" || info.style.display === "") {
            info.style.display = "flex";
            button.innerHTML = "Ver menos <i class='fa-solid fa-angle-up'></i>";
        } else {
            info.style.display = "none";
            button.innerHTML = "Ver más <i class='fa-solid fa-angle-down'></i>";
        }
    }
</script>



</body>
{% endblock %}
