{% extends 'nomina/base.html' %}
{% load static %}
{% block titulo %}Colaboradores{% endblock %}
{% block contenedor %}

<style>
    body {
        background-color: #442B1C;
    }

    .contenedor_liquidacion {
        display: flex;
        flex-direction: column;
        margin: 50px 600px;
        align-items: center !important;
        background-color: #EBECE4;
        padding-top: 50px;
        border-radius: 200px 200px 0 0 ;
        height: 830px;
    }

    .imagen_liquidacion {
        width: 300px;
        height: 300px;
        border-radius: 300px;
    }

    .info_liquidacion {
        margin-top: 30px;
        text-align: center;
    }

    h4 {
        color: #a7a7a7;
    }
</style>

<div class="contenedor_liquidacion">
    <img class="imagen_liquidacion" src="{{ usuario.foto.url }}">
    <div class="info_liquidacion">
        <h4>Nombre:</h4>
        <h3>{{ usuario.nombre }} {{ usuario.apellido }}</h3>
        <h4>Cargo:</h4>
        <h3>{{ usuario.get_cargo_display }}</h3>
        <h4>En la empresa desde:</h4>
        <h3>{{ usuario.fecha_ingreso }}</h3>
        <h4>Liquidación</h4>
        <button data-toggle="modal" data-target="#liquidacionModal" data-id="{{ usuario.id }}" onclick="showLiquidacionModal({{ usuario.id }})" class="btn btn-dark">Visualizar</button>
    </div>
</div>

<div class="modal fade" id="liquidacionModal" tabindex="-1" aria-labelledby="liquidacionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="liquidacionModalLabel">Recibo de Liquidación</h5>
                <button style="margin-left: 5px;" title="Para descargar el recibo, presiona el botón descargar con el ícono de la flecha hacia abajo">
                    <i class="fa-solid fa-circle-info"></i>
                </button>
                <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe src="http://127.0.0.1:8000/liquidacion-archivo"  width="100%" height="500px" style="border: none;"></iframe>
            </div>
        </div>
    </div>
</div>

<script>
    function showLiquidacionModal(usuarioId) {
        const iframe = document.getElementById('liquidacionIframe');
        iframe.src = '/liquidacion/' + usuarioId + '/';
        const descargarBtn = document.getElementById('descargarLiquidacionBtn');
        descargarBtn.href = '/descargar-liquidacion/' + usuarioId + '/';
    }
</script>


{% endblock %}
