{% extends 'nomina/base.html' %}
{% load static %}
{% block titulo %}Menú Principal{% endblock %}
{% block contenedor %}
<link href="{% static 'nomina/css/index-principal.css' %}" rel="stylesheet">

<style>
    body {
       overflow: hidden;
       background-color: #EBECE4;
    }
</style>
</head>

<body>
    <div class="contenedor_todo_bienvenido row">
        <div class="contenedor_imagen col-sm-6">
            <img class="img-bienvenido" src="{% static 'nomina/img/img3.jpg' %}" alt="">
        </div>
        <div class="contenedor_info col-sm-6 wow fadeInUp">
            <img class="logo_press" src="{% static 'nomina/img/logo/logo-press.png' %}" width="100" height="100">
            <h1 class="titulo_bienvenido">¡Bienvenido!</h1>
            <div class="contenedor_botones_bienvenido">
                {% if request.session.logueo.nombre_rol == "Administrador" %}
                    <a class="btn botones_bienvenido" href="{% url 'nomina:colaboradores' %}">Colaboradores</a>
                    <a class="btn botones_bienvenido" href="{% url 'nomina:novedades_nomina' %}">Novedades</a>
                    <a class="btn botones_bienvenido" href="{% url 'nomina:nomina' %}">Nóminas</a>
                {% else %}
                    <a class="btn botones_bienvenido" href="{% url 'nomina:nomina' %}">Mi nómina</a>
                {% endif %}
                <!-- Button trigger modal -->
                <button type="button" class="btn botones_bienvenido cerrar_sesion" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                    Cerrar sesión
                </button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                    <button class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que quieres cerrar sesión?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                    <a href="{% url 'nomina:logout' %}" class="btn btn-danger">Cerrar</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
