{% extends 'nomina/base.html' %}
{% load static %}
{% block titulo %}Menú Principal{% endblock %}
{% block contenedor %}

<style>

        .botones_bienvenido {
            width: 300px;
            border: 2px solid #00000000;
            background-color: #FFFFFF;
            color: #000000;
            font-size: 20px;
        }

        .botones_bienvenido:hover {
            border: 2px dashed #FFFFFF;
            background-color: #00000000;
            color: #FFFFFF;
        }

        .botones_bienvenido:active {
            border: 2px dashed #bbbbbb;
            background-color: #00000000;
            color: #bbbbbb;
        }


        @media (max-width:1600px) {
            body {
                overflow: scroll;
                overflow: visible;
            }

            .contenedor_todo_bienvenido {
                display: flex;
                flex-direction: column;
                overflow: scroll;
            }
            .contenedor_info {
                height: 100vh;
                margin-left: 0;
                text-align: center;
                justify-content: center;
                align-items: center;
                background-color: #1d1307;
            }

            .contenedor_imagen {
                display: none;
            }


    </style>
</head>

<body>
    <div class="contenedor_todo_bienvenido">
        <div class="contenedor_imagen">
            <img class="img-bienvenido" src="{% static 'nomina/img/img3.jpg' %}" alt="">
        </div>
        <div class="contenedor_info">
            <div style="text-align: left; ">
                <span class="absolute">
                    <svg width="90" height="104" viewBox="0 0 10 104" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: -90px; margin-top: -90px;">
                        <circle cx="45.6673" cy="132" r="1.66667" transform="rotate(180 45.6673 132)" fill="#FFFFFF" />
                        <circle cx="45.6673" cy="117.333" r="1.66667" transform="rotate(180 45.6673 117.333)"
                            fill="#FFFFFF" />
                        <circle cx="45.6673" cy="102.667" r="1.66667" transform="rotate(180 45.6673 102.667)"
                            fill="#FFFFFF" />
                        <circle cx="45.6673" cy="88.0001" r="1.66667" transform="rotate(180 45.6673 88.0001)"
                            fill="#FFFFFF" />
                        <circle cx="45.6673" cy="73.3333" r="1.66667" transform="rotate(180 45.6673 73.3333)"
                            fill="#FFFFFF" />
                        <circle cx="45.6673" cy="45.0001" r="1.66667" transform="rotate(180 45.6673 45.0001)"
                            fill="#FFFFFF" />
                        <circle cx="45.6673" cy="16.0001" r="1.66667" transform="rotate(180 45.6673 16.0001)"
                            fill="#FFFFFF" />
                        <circle cx="45.6673" cy="59.0001" r="1.66667" transform="rotate(180 45.6673 59.0001)"
                            fill="#FFFFFF" />
                        <circle cx="45.6673" cy="30.6668" r="1.66667" transform="rotate(180 45.6673 30.6668)"
                            fill="#FFFFFF" />
                        <circle cx="45.6673" cy="1.66683" r="1.66667" transform="rotate(180 45.6673 1.66683)"
                            fill="#FFFFFF" />
                        <circle cx="31.0006" cy="132" r="1.66667" transform="rotate(180 31.0006 132)" fill="#FFFFFF" />
                        <circle cx="31.0006" cy="117.333" r="1.66667" transform="rotate(180 31.0006 117.333)"
                            fill="#FFFFFF" />
                        <circle cx="31.0006" cy="102.667" r="1.66667" transform="rotate(180 31.0006 102.667)"
                            fill="#FFFFFF" />
                        <circle cx="31.0006" cy="88.0001" r="1.66667" transform="rotate(180 31.0006 88.0001)"
                            fill="#FFFFFF" />
                        <circle cx="31.0008" cy="73.3333" r="1.66667" transform="rotate(180 31.0008 73.3333)"
                            fill="#FFFFFF" />
                        <circle cx="31.0008" cy="45.0001" r="1.66667" transform="rotate(180 31.0008 45.0001)"
                            fill="#FFFFFF" />
                        <circle cx="31.0008" cy="16.0001" r="1.66667" transform="rotate(180 31.0008 16.0001)"
                            fill="#FFFFFF" />
                        <circle cx="31.0008" cy="59.0001" r="1.66667" transform="rotate(180 31.0008 59.0001)"
                            fill="#FFFFFF" />
                        <circle cx="31.0008" cy="30.6668" r="1.66667" transform="rotate(180 31.0008 30.6668)"
                            fill="#FFFFFF" />
                        <circle cx="31.0008" cy="1.66683" r="1.66667" transform="rotate(180 31.0008 1.66683)"
                            fill="#FFFFFF" />
                        <circle cx="16.3341" cy="132" r="1.66667" transform="rotate(180 16.3341 132)" fill="#FFFFFF" />
                        <circle cx="16.3341" cy="117.333" r="1.66667" transform="rotate(180 16.3341 117.333)"
                            fill="#FFFFFF" />
                        <circle cx="16.3341" cy="102.667" r="1.66667" transform="rotate(180 16.3341 102.667)"
                            fill="#FFFFFF" />
                        <circle cx="16.3341" cy="88.0001" r="1.66667" transform="rotate(180 16.3341 88.0001)"
                            fill="#FFFFFF" />
                        <circle cx="16.3338" cy="73.3333" r="1.66667" transform="rotate(180 16.3338 73.3333)"
                            fill="#FFFFFF" />
                        <circle cx="16.3338" cy="45.0001" r="1.66667" transform="rotate(180 16.3338 45.0001)"
                            fill="#FFFFFF" />
                        <circle cx="16.3338" cy="16.0001" r="1.66667" transform="rotate(180 16.3338 16.0001)"
                            fill="#FFFFFF" />
                        <circle cx="16.3338" cy="59.0001" r="1.66667" transform="rotate(180 16.3338 59.0001)"
                            fill="#FFFFFF" />
                        <circle cx="16.3338" cy="30.6668" r="1.66667" transform="rotate(180 16.3338 30.6668)"
                            fill="#FFFFFF" />
                        <circle cx="16.3338" cy="1.66683" r="1.66667" transform="rotate(180 16.3338 1.66683)"
                            fill="#FFFFFF" />
                        <circle cx="1.66732" cy="132" r="1.66667" transform="rotate(180 1.66732 132)" fill="#FFFFFF" />
                        <circle cx="1.66732" cy="117.333" r="1.66667" transform="rotate(180 1.66732 117.333)"
                            fill="#FFFFFF" />
                        <circle cx="1.66732" cy="102.667" r="1.66667" transform="rotate(180 1.66732 102.667)"
                            fill="#FFFFFF" />
                        <circle cx="1.66732" cy="88.0001" r="1.66667" transform="rotate(180 1.66732 88.0001)"
                            fill="#FFFFFF" />
                        <circle cx="1.66732" cy="73.3333" r="1.66667" transform="rotate(180 1.66732 73.3333)"
                            fill="#FFFFFF" />
                        <circle cx="1.66732" cy="45.0001" r="1.66667" transform="rotate(180 1.66732 45.0001)"
                            fill="#FFFFFF" />
                        <circle cx="1.66732" cy="16.0001" r="1.66667" transform="rotate(180 1.66732 16.0001)"
                            fill="#FFFFFF" />
                        <circle cx="1.66732" cy="59.0001" r="1.66667" transform="rotate(180 1.66732 59.0001)"
                            fill="#FFFFFF" />
                        <circle cx="1.66732" cy="30.6668" r="1.66667" transform="rotate(180 1.66732 30.6668)"
                            fill="#FFFFFF" />
                        <circle cx="1.66732" cy="1.66683" r="1.66667" transform="rotate(180 1.66732 1.66683)"
                            fill="#FFFFFF" />
                    </svg>
                </span>
            </div>
            <h1 class="titulo_bienvenido">¡Bienvenido!</h1>
            <div class="contenedor_botones_bienvenido">
                {% if request.session.logueo.nombre_rol == "Administrador" %}
                    <a class="btn botones_bienvenido" href="{% url 'nomina:novedades_nomina' %}">Novedades</a>
                    <a class="btn botones_bienvenido" href="{% url 'nomina:nomina' %}">Nóminas</a>
                    <a class="btn botones_bienvenido" href="{% url 'nomina:colaboradores' %}">Colaboradores</a>
                    <a class="btn botones_bienvenido" href="{% url 'nomina:practica' %}">Práctica</a>

                {% else %}
                    <a class="btn botones_bienvenido" href="{% url 'nomina:nomina' %}">Mi nómina</a>
                    <a class="btn botones_bienvenido" href="">Recibos</a>
                    <a class="btn botones_bienvenido" href="">Ayuda/Soporte</a>
                    <a class="btn botones_bienvenido" href="">Configuración</a>
                {% endif %}
                <!-- Button trigger modal -->
                <button type="button" class="btn botones_bienvenido cerrar_sesion" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                    Cerrar sesión
                </button>
            </div>
            <div>
                <span class="absolute">
                    <svg width="830" height="134" viewBox="0 0 10 134" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="45.6673" cy="132" r="1.66667" transform="rotate(180 45.6673 132)" fill="#FFFFFF" />
                        <circle cx="45.6673" cy="117.333" r="1.66667" transform="rotate(180 45.6673 117.333)"
                            fill="#FFFFFF" />
                        <circle cx="45.6673" cy="102.667" r="1.66667" transform="rotate(180 45.6673 102.667)"
                            fill="#FFFFFF" />
                        <circle cx="45.6673" cy="88.0001" r="1.66667" transform="rotate(180 45.6673 88.0001)"
                            fill="#FFFFFF" />
                        <circle cx="45.6673" cy="73.3333" r="1.66667" transform="rotate(180 45.6673 73.3333)"
                            fill="#FFFFFF" />
                        <circle cx="45.6673" cy="45.0001" r="1.66667" transform="rotate(180 45.6673 45.0001)"
                            fill="#FFFFFF" />
                        <circle cx="45.6673" cy="16.0001" r="1.66667" transform="rotate(180 45.6673 16.0001)"
                            fill="#FFFFFF" />
                        <circle cx="45.6673" cy="59.0001" r="1.66667" transform="rotate(180 45.6673 59.0001)"
                            fill="#FFFFFF" />
                        <circle cx="45.6673" cy="30.6668" r="1.66667" transform="rotate(180 45.6673 30.6668)"
                            fill="#FFFFFF" />
                        <circle cx="45.6673" cy="1.66683" r="1.66667" transform="rotate(180 45.6673 1.66683)"
                            fill="#FFFFFF" />
                        <circle cx="31.0006" cy="132" r="1.66667" transform="rotate(180 31.0006 132)" fill="#FFFFFF" />
                        <circle cx="31.0006" cy="117.333" r="1.66667" transform="rotate(180 31.0006 117.333)"
                            fill="#FFFFFF" />
                        <circle cx="31.0006" cy="102.667" r="1.66667" transform="rotate(180 31.0006 102.667)"
                            fill="#FFFFFF" />
                        <circle cx="31.0006" cy="88.0001" r="1.66667" transform="rotate(180 31.0006 88.0001)"
                            fill="#FFFFFF" />
                        <circle cx="31.0008" cy="73.3333" r="1.66667" transform="rotate(180 31.0008 73.3333)"
                            fill="#FFFFFF" />
                        <circle cx="31.0008" cy="45.0001" r="1.66667" transform="rotate(180 31.0008 45.0001)"
                            fill="#FFFFFF" />
                        <circle cx="31.0008" cy="16.0001" r="1.66667" transform="rotate(180 31.0008 16.0001)"
                            fill="#FFFFFF" />
                        <circle cx="31.0008" cy="59.0001" r="1.66667" transform="rotate(180 31.0008 59.0001)"
                            fill="#FFFFFF" />
                        <circle cx="31.0008" cy="30.6668" r="1.66667" transform="rotate(180 31.0008 30.6668)"
                            fill="#FFFFFF" />
                        <circle cx="31.0008" cy="1.66683" r="1.66667" transform="rotate(180 31.0008 1.66683)"
                            fill="#FFFFFF" />
                        <circle cx="16.3341" cy="132" r="1.66667" transform="rotate(180 16.3341 132)" fill="#FFFFFF" />
                        <circle cx="16.3341" cy="117.333" r="1.66667" transform="rotate(180 16.3341 117.333)"
                            fill="#FFFFFF" />
                        <circle cx="16.3341" cy="102.667" r="1.66667" transform="rotate(180 16.3341 102.667)"
                            fill="#FFFFFF" />
                        <circle cx="16.3341" cy="88.0001" r="1.66667" transform="rotate(180 16.3341 88.0001)"
                            fill="#FFFFFF" />
                        <circle cx="16.3338" cy="73.3333" r="1.66667" transform="rotate(180 16.3338 73.3333)"
                            fill="#FFFFFF" />
                        <circle cx="16.3338" cy="45.0001" r="1.66667" transform="rotate(180 16.3338 45.0001)"
                            fill="#FFFFFF" />
                        <circle cx="16.3338" cy="16.0001" r="1.66667" transform="rotate(180 16.3338 16.0001)"
                            fill="#FFFFFF" />
                        <circle cx="16.3338" cy="59.0001" r="1.66667" transform="rotate(180 16.3338 59.0001)"
                            fill="#FFFFFF" />
                        <circle cx="16.3338" cy="30.6668" r="1.66667" transform="rotate(180 16.3338 30.6668)"
                            fill="#FFFFFF" />
                        <circle cx="16.3338" cy="1.66683" r="1.66667" transform="rotate(180 16.3338 1.66683)"
                            fill="#FFFFFF" />
                        <circle cx="1.66732" cy="132" r="1.66667" transform="rotate(180 1.66732 132)" fill="#FFFFFF" />
                        <circle cx="1.66732" cy="117.333" r="1.66667" transform="rotate(180 1.66732 117.333)"
                            fill="#FFFFFF" />
                        <circle cx="1.66732" cy="102.667" r="1.66667" transform="rotate(180 1.66732 102.667)"
                            fill="#FFFFFF" />
                        <circle cx="1.66732" cy="88.0001" r="1.66667" transform="rotate(180 1.66732 88.0001)"
                            fill="#FFFFFF" />
                        <circle cx="1.66732" cy="73.3333" r="1.66667" transform="rotate(180 1.66732 73.3333)"
                            fill="#FFFFFF" />
                        <circle cx="1.66732" cy="45.0001" r="1.66667" transform="rotate(180 1.66732 45.0001)"
                            fill="#FFFFFF" />
                        <circle cx="1.66732" cy="16.0001" r="1.66667" transform="rotate(180 1.66732 16.0001)"
                            fill="#FFFFFF" />
                        <circle cx="1.66732" cy="59.0001" r="1.66667" transform="rotate(180 1.66732 59.0001)"
                            fill="#FFFFFF" />
                        <circle cx="1.66732" cy="30.6668" r="1.66667" transform="rotate(180 1.66732 30.6668)"
                            fill="#FFFFFF" />
                        <circle cx="1.66732" cy="1.66683" r="1.66667" transform="rotate(180 1.66732 1.66683)"
                            fill="#FFFFFF" />
                    </svg>
                </span>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que quieres cerrar sesión?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a href="{% url 'nomina:logout' %}" class="btn btn-danger">Cerrar</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
