{% extends 'nomina/base.html' %}
{% load static %}
{% block titulo %}Iniciar Sesión{% endblock %}
{% block contenedor %}


<body style="background-color: #3F281A;">
    <a class="regresar transition duration-300 ease-in-out font-medium" href="{% url 'nomina:landing_page' %}" >
        Regresar <i class="fa-solid fa-reply"></i>
    </a>
    <div class="container">
        <div class="contenedor_login wow fadeInUp relative mx-auto max-w-[525px] overflow-hidden rounded-xl shadow-form dark:bg-dark-2 py-8 px-8 text-center sm:px-12 md:px-[60px]"
            data-wow-delay=".15s">
            <div class="mb-2 text-center">
                <a href="javascript:void(0)" class="mx-auto inline-block max-w-[160px]">
                    <img src="{% static 'nomina/img/logo/logo-press.png' %}" alt="logo" width="80" height="80" />
                </a>
            </div>
            <h1
              class="mb-3" style="font-size: 30px; font-weight: bold; color: #3F281A;">
              Iniciar Sesión
            </h1>
            <p>
                Inicia sesión para ingresar al sistema
            </p>
            <form method="post" action="{% url 'nomina:login' %}" enctype="multipart/form-data" autocomplete="on">
                {% csrf_token %}
                <div class="input-group flex-nowrap mb-[22px]">
                  <span style="border: 2px solid #c9c9c9;"  class="input-group-text bg-transparent">@</span>
                  <input style="border: 2px solid #c9c9c9;" type="email" class="form-control bg-transparent" placeholder="Correo electrónico" name="correo_login" id="correo_login" aria-label="Username" aria-describedby="addon-wrapping" required>
                </div>
                <div class="input-group flex-nowrap mb-[22px]">
                  <span style="border: 2px solid #c9c9c9;"  class="input-group-text bg-transparent"><i class="bi bi-key-fill"></i></span>
                  <input style="border: 2px solid #c9c9c9;" type="password" class="form-control bg-transparent" placeholder="Contraseña" name="contrasena_login" id="contrasena_login" aria-label="Username" aria-describedby="addon-wrapping" required>
                </div>
                <div class="form-check input-group flex-nowrap mb-3 mb-[22px]">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="remember_me" name="remember_me"> Recuérdame
                    </label>
                </div>
                <div class="mb-4">
                    <button type="submit" value="Sign Up"
                        class="w-full px-5 py-3 text-cream transition duration-300 ease-in-out border rounded-md cursor-pointer botones_landing">Ingresar</button>
                </div>
            </form>
            <div class="form-check input-group flex-nowrap mb-3 mb-[22px]">
                <label class="form-check-label">
                    <button data-bs-toggle="modal" data-bs-target="#recuperarContrasenaModal">¿Has olvidado tu contraseña?</button>
                </label>
            </div>
        </div>
    </div>

    <!-- Recuperar contraseña Modal -->
    <div class="modal fade" id="recuperarContrasenaModal" tabindex="-1" aria-labelledby="recuperarContrasenaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="recuperarContrasenaModalLabel">Recuperar contraseña </h5>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Ingresa el correo al cual enviaremos tu contraseña. Recuerda que debe ser el correo con el que estás registrado en el sistema</p>
                    <form method="post" action="{% url 'nomina:recuperar_contrasena' %}">
                        {% csrf_token %}
                        <div class="d-flex">
                            <input style="margin-bottom: 20px;" class="form-control" type="email" name="correo_recuperar" placeholder="Ingresa el correo...">
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar correo</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}