{% extends 'nomina/base.html' %}
{% load static %}
{% block titulo %}Menú Principal{% endblock %}
{% block contenedor %}


<h1 class="h3 mb-2 text-gray-800">Nómina</h1>
<p class="mb-4">Aquí encontrarás las nóminas que han sido creadas, podrás añadir las que sean necesarias y editar las
    que ya han sido creadas. Recuerda que no pueden ser borradas por políticas de la empresa.</p>

<div class="nomina_filtro">
    <h6>Filtrar por:</h6>
</div>

<div class="nomina_container">
    <div class="nomina_item bg-gradient-success">
        <h3>Nómina # 1</h3>
        <p>Fecha de creación: 01/01/2024</p>
        <button class="btn btn-success">Ingresar</button>
    </div>

    <div class="nomina_item bg-gradient-success">
        <h3>Nómina # 2</h3>
        <p>Fecha de creación: </p>
        <button class="btn btn-success">Ingresar</button>
    </div>

    <div class="nomina_item bg-gradient-success">
        <h3>Nómina # 3</h3>
        <p>Fecha de creación</p>
        <button class="btn btn-success">Ingresar</button>
    </div>

    <div class="nomina_item bg-gradient-success">
        <h3>Nómina # 4</h3>
        <p>Fecha de creación</p>
        <button class="btn btn-success">Ingresar</button>
    </div>

    <div class="nomina_item bg-gradient-success">
        <h3>Nómina # 5</h3>
        <p>Fecha de creación</p>
        <button class="btn btn-success">Ingresar</button>
    </div>

    <div class="nomina_item bg-gradient-success">
        <h3>Nómina # 6</h3>
        <p>Fecha de creación</p>
        <button class="btn btn-success">Ingresar</button>
    </div>

    <div class="nomina_item bg-gradient-success">
        <h3>Nómina # 7</h3>
        <p>Fecha de creación</p>
        <button class="btn btn-success">Ingresar</button>
    </div>

    <div class="nomina_item bg-gradient-success">
        <h3>Nómina # 8</h3>
        <p>Fecha de creación</p>
        <button class="btn btn-success">Ingresar</button>
    </div>

    <div class="nomina_item bg-gradient-success">
        <h3>Nómina # 9</h3>
        <p>Fecha de creación</p>
        <button class="btn btn-success">Ingresar</button>
    </div>

    <div class="nomina_item bg-gradient-success">
        <h3>Nómina # 10</h3>
        <p>Fecha de creación</p>
        <button class="btn btn-success">Ingresar</button>
    </div>
</div>


{% endblock %}