{% extends 'nomina/base.html' %}
{% load static %}
{% block titulo %}Colaboradores{% endblock %}
{% block contenedor %}

<style>
    .boton_regresar, .boton_mas {
        background-color: #EBECE4;
    }

    .boton_regresar:hover, .boton_mas:hover {
        background-color: #000000;
        color: #EBECE4;
    }

    .table thead {
        background-color: #EBECE4 !important;
    }

    td, th {
        border: 1px solid #C4C7C1;
        text-align: center;
        white-space: nowrap;
        padding: 20px;
    }

    th {
        background-color: #442B1C;
        color: #EBECE4;
    }

    .card {
        background-color: #EBECE4;
        margin: 10px;
    }

    h1 {
        color: #EBECE4 !important;
    }

    /* Botón de scroll */
    #scrollToEndBtn {
        position: fixed;
        top: 10px;
        right: 10px;
        padding: 10px 20px;
        cursor: pointer;
        background-color: #442B1C;
        color: white;
        border: none;
        border-radius: 5px;
    }

    .table-container {
        position: relative;
        max-height: 600px; /* Ajusta la altura según sea necesario */
        overflow: auto;
    }

    .table-responsive {
        overflow: hidden;
        position: relative;
    }

    .table-responsive table {
        border-collapse: collapse;
        width: 100%;
        overflow: hidden;
    }

    .table-responsive thead th {
        position: sticky;
        top: 0;
        background-color: #442B1C;
        color: #EBECE4;
        z-index: 10;
    }

    .table-responsive thead th, .table-responsive tbody td {
        position: relative;
        background-color: #EBECE4; /* Fondo para las celdas de la tabla, si es necesario */
    }

    .table-responsive .horizontal-scroll-container {
        position: sticky;
        top: 0;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        z-index: 9;
    }
</style>


<!-- Contenido principal -->
<div class="card shadow mb-4 contenedor_todo">
    <div id="contenedor_colaborador" class="card-body contenedor_colaboradores">
        {% for c in data %}
        <div class="contenedor_colaborador">
            <div class="contenedor_presentacion_colaborador">
                {% if c.foto %}
                <img class="img-colaborador" src="{{ c.foto.url }}" alt="">
                {% else %}
                <img class="img-colaborador" src="{% static 'nomina/img/empresario1.jpg' %}" alt="">
                {% endif %}
                <!-- Ícono de tres puntos en la esquina superior derecha -->
                <div class="boton-menu-acciones" onclick="toggleMenu({{ c.id }})">
                    <i class="fa fa-ellipsis-v" ></i>
                </div>

                <!-- Menú desplegable -->
                <div id="menu-{{ c.id }}" class="menu-acciones" style="display: none; position: absolute; top: 30px; right: 10px; background-color: white; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); z-index: 100;">
                    <button title="Editar colaborador" class="btn" data-bs-toggle="modal" data-bs-target="#editarModal{{ c.id }}">
                        <i class="bi bi-pencil-fill"></i> Editar
                    </button>
                    <a title="Liquidar colaborador" class="btn" href="javascript:confirmar_liquidar('{{ c.id }}', '{% url 'nomina:liquidacion' c.id %}');">
                        <i class="bi bi-receipt"></i> Liquidar
                    </a>
                </div>
            </div>
            <div class="info_colaborador">
                <h4>{{ c.nombre }} {{ c.apellido }}</h4>
                <h6>{{ c.cargo }}</h6>
                <!--<div>
                    <button title="Editar colaborador" id="abrirModal" class="btn" data-bs-toggle="modal"
                            data-bs-target="#editarModal{{ c.id }}"><i class="bi bi-pencil-fill"></i></button>
                    <a title="Liquidar colaborador" class="btn" href="javascript:confirmar_liquidar('{{ c.id }}', '{% url 'nomina:liquidacion' c.id %}');"><i class="bi bi-receipt"></i></a>
                </div>-->
            </div>
            <div class="ver_mas_contenedor">
                <button id="verMas" class="mb-4 link-dark" onclick="verMasButton(this)">
                    Ver más <i class="fa-solid fa-angle-down"></i>
                </button>
                <div id="ver_mas_info">
                    <h6>Fecha de ingreso: {{ c.fecha_ingreso }}</h6>
                    <h6>Correo: {{ c.correo }}</h6>
                    <h6>Riesgo: {{ c.riesgo }}</h6>
                    <h6>Tipo de contrato: {{ c.get_tipo_contrato_display }}</h6>
                    {% if c.fecha_fin_contrato %}
                    <h6>Fecha fin de contrato: {{ c.fecha_fin_contrato }}</h6>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Modal Editar Colaborador -->
        <div class="modal fade" id="editarModal{{ c.id }}" tabindex="-1"
             aria-labelledby="editarModalLabel{{ c.id }}"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editarModalLabel{{ c.id }}">Editar Colaborador</h1>
                        <button type="button" class="btn btn-close" data-bs-dismiss="modal"
                                aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body" id="contenidoModalBody">
                        {% include 'nomina/colaborador/colaborador-editar.html' with data=c %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Colaboradores retirados -->
    <div id="retirados">
        {% if retirados %}
            {% for r in retirados %}
            <div class="contenedor_colaborador">
                <div>
                    {% if r.foto %}
                    <img class="img-colaborador" src="{{ r.foto.url }}" alt="">
                    {% else %}
                    <img class="img-colaborador" src="{% static 'nomina/img/empresario1.jpg' %}" alt="">
                    {% endif %}
                </div>
                <div class="info_colaborador">
                    <h4>{{ r.nombre }} {{ r.apellido }}</h4>
                    <h6>{{ r.cargo }}</h6>
                </div>
                <div>
                    <button id="verMas" class="mb-4 link-dark" onclick="verMasButton(this)">
                        Ver más <i class="fa-solid fa-angle-down"></i>
                    </button>
                    <div id="ver_mas_info">
                        <h6>Fecha de ingreso: {{ r.fecha_ingreso }}</h6>
                        <h6>Fecha de retiro: {{ r.fecha_retiro }}</h6>
                        <h6>Motivo de retiro: {{ r.motivo_retiro }}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        No hay colaboradores retirados...
        {% endif %}
    </div>
    <div class="contenedor_boton_colaboradores_retirados">
        <button id="btnRetirados" class="btn btn-dark boton_colaboradores_retirados" onclick="mostrarRetirados()">
            Colaboradores retirados
        </button>
    </div>
</div>
{% else %}

{% endblock %}