{% extends 'nomina/base.html' %}
{% load static %}
{% block titulo %}Registrar administrador{% endblock %}
{% block contenedor %}

<body style="background-color: #3F281A;">

    <a class="regresar transition duration-300 ease-in-out font-medium" href="{% url 'nomina:login' %}" >
        Regresar <i class="fa-solid fa-reply"></i>
    </a>
    <div class="container">
        <div class="wow fadeInUp relative mx-auto max-w-[525px] overflow-hidden rounded-xl shadow-form bg-white dark:bg-dark-2 py-8 px-8 text-center sm:px-12 md:px-[60px]"
            data-wow-delay=".15s">
            <div class="mb-2 text-center">
                <a href="javascript:void(0)" class="mx-auto inline-block max-w-[160px]">
                    <img src="{% static 'nomina/img/logo/logo-press.png' %}" alt="logo" width="80" height="80" />
                </a>
            </div>
            <h1
              class="mb-3 text-dark" style="font-size: 30px; font-weight: bold;">
              Registrarse
            </h1>
            <form method="post" action="{% url 'nomina:crear_admin' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-[22px]">
                    <input type="text" placeholder="ID" hidden
                        class="w-full px-5 py-3 text-base transition bg-transparent border rounded-md outline-none border-stroke dark:border-dark-3 text-body-color dark:text-dark-6 placeholder:text-dark-6 focus:border-primary dark:focus:border-primary focus-visible:shadow-none" name="id"/>
                </div>
                <div class="input-group flex-nowrap mb-[22px]">
                  <span style="border: 2px solid #c9c9c9;"  class="input-group-text bg-transparent"><i class="bi bi-person-vcard-fill"></i></span>
                  <input style="border: 2px solid #c9c9c9;" type="text" class="form-control bg-transparent" placeholder="Cédula" name="cedula" aria-label="Cédula" aria-describedby="addon-wrapping" required>
                </div>
                <div class="input-group flex-nowrap mb-[22px]">
                  <span style="border: 2px solid #c9c9c9;"  class="input-group-text bg-transparent"><i class="bi bi-person-fill"></i></span>
                  <input style="border: 2px solid #c9c9c9;" type="text" class="form-control bg-transparent" placeholder="Nombre" name="nombre" aria-label="Nombre" aria-describedby="addon-wrapping" required>
                </div>
                <div class="input-group flex-nowrap mb-[22px]">
                  <span style="border: 2px solid #c9c9c9;"  class="input-group-text bg-transparent"><i class="bi bi-person-fill"></i></span>
                  <input style="border: 2px solid #c9c9c9;" type="text" class="form-control bg-transparent" placeholder="Apellido" name="apellido" aria-label="Apellido" aria-describedby="addon-wrapping" required>
                </div>
                <div class="input-group flex-nowrap mb-[22px]">
                  <span style="border: 2px solid #c9c9c9;"  class="input-group-text bg-transparent">@</span>
                  <input style="border: 2px solid #c9c9c9;" type="email" class="form-control bg-transparent" placeholder="Correo electrónico" name="correo" aria-label="Correo" aria-describedby="addon-wrapping" required>
                </div>
                <div class="input-group flex-nowrap mb-[22px]">
                  <span style="border: 2px solid #c9c9c9;"  class="input-group-text bg-transparent">$</span>
                  <input style="border: 2px solid #c9c9c9;" type="number" class="form-control bg-transparent" placeholder="Salario" name="salario" aria-label="Salario" aria-describedby="addon-wrapping" required>
                </div>
                <div class="input-group flex-nowrap mb-[22px]">
                  <span style="border: 2px solid #c9c9c9;"  class="input-group-text bg-transparent"><i class="bi bi-image-fill"></i></span>
                  <input style="border: 2px solid #c9c9c9;" type="file" accept="image/*" class="form-control bg-transparent" placeholder="Foto" name="foto" aria-label="Foto" aria-describedby="addon-wrapping" required>
                </div>
                <div class="mb-4">
                    <button value="Sign Up" type="submit"
                        class="w-full px-5 py-3 text-white transition duration-300 ease-in-out border rounded-md cursor-pointer botones_landing">Registrar administrador</button>
                </div>
            </form>



        </div>

    </div>

{% endblock %}