{% extends 'nomina/base.html' %}
{% load static %}
{% block titulo %}Nóminas{% endblock %}
{% block contenedor %}
<style>
    body {
        background-color: #442B1C !important;
    }

    .boton_regresar, .boton_crear_nomina {
        background-color: #EBECE4;
    }

    .boton_regresar:hover, .boton_crear_nomina:hover {
        background-color: #000000;
        color: #EBECE4;
    }

    .boton_inicio i {
        font-size: 35px;
        color: #EBECE4;
    }

    td, th {
        border: 1px solid #C4C7C1;
        text-align: center;
        white-space: nowrap;
        padding: 20px;
    }

    .tabla_nominas {
        background-color: #EBECE4;
        margin: 10px auto;
        width: 100%;
    }

</style>

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div>
            <a class="btn transition duration-300 ease-in-out boton_inicio" href="{% url 'nomina:index' %}">
                <i class="bi bi-house-fill"></i>
            </a>
        </div>
        <h1 class="h3 mb-2 text-gray-800" style="color: #EBECE4;">Nóminas</h1>
        <button class="boton_regresar btn btn-light" data-bs-toggle="modal" data-bs-target="#infoModal">
            <i class="bi bi-info-lg"></i>
        </button>
    </div>
</nav>

{% if mensaje %}
    <div class="alert alert-warning" role="alert">
        {{ mensaje }}
    </div>
{% else %}
    {% if request.session.logueo.nombre_rol == "Administrador" %}
    <div class="contenedor_nominas">
        <table class="tabla_nominas">
            <thead>
            <tr>
                <th>Fecha de Nómina</th>
                <th>Colaboradores</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for fecha_nomina, nominas in nominas_por_fecha_nomina.items %}
            <tr>
                <td>{{ fecha_nomina }}</td>
                <td>
                    {% for nomina in nominas %}
                        {{ nomina.novedad.usuario.nombre }} {{ nomina.novedad.usuario.apellido }}{% if not forloop.last %}
                        <br>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'nomina:nomina_listar' fecha_nomina %}" class="btn btn-primary">Ingresar</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="contenedor_nominas">
        <table class="tabla_nominas">
            <thead>
            <tr>
                <th>Fecha de Nómina</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for fecha_nomina, nominas in nominas_por_fecha_nomina.items %}
            <tr>
                <td>{{ fecha_nomina }}</td>
                <td>
                    <a href="{% url 'nomina:nomina_listar' fecha_nomina %}" class="btn btn-primary">Ingresar</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endif %}

<!-- Info Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModallLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Presionando en <strong>Ingresar</strong>, puedes visualizar los detalles de la nónima seleccionada y de cada colaborador.
      </div>
    </div>
  </div>
</div>

{% endblock %}
