{% extends 'nomina/base.html' %}
{% load static %}
{% block titulo %}Nóminas{% endblock %}
{% block contenedor %}
<style>
    body {
        background-color: #442B1C !important;
    }

    .boton_regresar, .boton_crear_nomina {
        background-color: #EBECE4;
    }

    .boton_regresar:hover, .boton_crear_nomina:hover {
        background-color: #000000;
        color: #EBECE4;
    }

    .tarjeta_nomina {
        width: 300px !important;
    }

    .contenedor {
            border: 2px solid #000000;
            margin: 0 auto !important;
            width: 450px !important;
            display: flex;
            align-items: center;
            padding: 50px;
            border-radius: 50px;
            height: 100%;
            background-color: #EBECE4;
        }


    h3 {
       text-align: center;
       margin-top: 10px;
       color: #442B1C;
    }


    .no-results {
        margin-top: 30px;
        color: red;
        text-align: center;
        font-weight: bold;
    }

    .buscar_usuario {
        text-align: center;
        align-items: center !important;
    }

    .buscar, .buscar:active, .buscar:focus {
        background-color: #442B1C;
        color: #EBECE4;
    }

    .buscar:hover{
        color: #442B1C;
        border: 2px dashed #442B1C;
    }

    p {
        color: #EBECE4;
    }

    .table thead {
        background-color: #EBECE4 !important;
    }

    td, th {
        border: 1px solid #C4C7C1;
        text-align: center;
        white-space: nowrap;
        padding: 20px;
    }

    .card {
        background-color: #EBECE4;
        margin: 10px;
    }

    .filtro_nomina {
        background-color: #EBECE4;
        padding: 8px 8px;
        display: flex;
        flex-direction: row;
    }

    .periodo_titulo {
        margin-left: 10px;
    }

    .periodo_titulo, .filtro_titulo {
        margin-top: 8px;
    }

    .periodo_select {
        width: 210px;
    }

    .btn-danger {
        margin-left: 10px;
    }

    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="btn btn-light transition duration-300 ease-in-out boton_regresar" href="{% url 'nomina:index' %}">
            Regresar <i class="fa-solid fa-reply"></i>
        </a>
        <h1 class="h3 mb-2 text-gray-800" style="color: #EBECE4;">Nóminas</h1>
        {% if request.session.logueo.nombre_rol == "Administrador" %}
        <button class="boton_crear_nomina btn btn-light" data-bs-toggle="modal" data-bs-target="#nominaModal">
            Crear nómina
        </button>
        {% else %}
        <button class="boton_regresar btn btn-light">
            <i class="bi bi-info-lg"></i>
        </button>
        {% endif %}
    </div>
</nav>

{% if request.session.logueo.nombre_rol == "Administrador" %}
<div class="card contenedor_nominas m-3">
    <!--<div class="filtro_nomina">
        <h6 class="filtro_titulo">Filtrar por:</h6>
        <h6 class="periodo_titulo">Periodo:</h6>
        <form action="" method="post" class="d-flex">
            {% csrf_token %}
            <select class="periodo_select form-control" name="periodo">
                <option value="">Seleccionar...</option>
                {% for p in periodos %}
                    <option value="{{ p }}">{{ p }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-danger" type="submit">Buscar</button>
        </form>
    </div>-->

    <table width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>ID Nómina</th>
            <th>Periodo</th>
            <th>Colaboradores</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for n in novedad %}
        <tr>
            <td>{{ n.id }}</td>
            <td>{{ n.fecha_inicio }} - {{ n.fecha_fin }}</td>
            <td>
                {{ n.usuario }}
            </td>
            <td>
                <a href="" class="btn btn-primary">Ingresar</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="card contenedor_nominas m-3">
    <div class="filtro_nomina">
        <h6 class="filtro_titulo">Filtrar por:</h6>
        <h6 class="periodo_titulo">Periodo:</h6>
        <form action="{% url 'nomina:nomina_buscar' %}" method="post" class="d-flex">
            {% csrf_token %}
            <select class="periodo_select form-control" name="periodo">
                <option value="">Seleccionar...</option>
                {% for p in periodos %}
                    <option value="{{ p }}">{{ p }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-danger" type="submit">Buscar</button>
        </form>
    </div>

    <table width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>ID Nómina</th>
            <th>Periodo</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for n in novedad %}
        <tr>
            <td>{{ n.id }}</td>
            <td>{{ n.fecha_inicio }} - {{ n.fecha_fin }}</td>
            <td>
                <a href="{% url 'nomina:nomina_listar' n.id %}" class="btn btn-primary">Ingresar</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}


<!-- Modal -->
<div class="modal fade" id="nominaModal" tabindex="-1" aria-labelledby="nominaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="nominaModalLabel">Crear nómina</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="nomina" class="form-label">Nómina:</label>
                        <select class="form-control" id="nomina" name="nomina[]" multiple required>
                            {% for n in nomina %}
                                <option value="{{ n.id }}">{{ n }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Fecha inicio:</label>
                        <input type="date" class="form-control" id="fecha_inicio" placeholder="Ingresa fecha inicio" name="fecha_inicio">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Fecha fin:</label>
                        <input type="date" class="form-control" id="fecha_fin" placeholder="Ingresa fecha fin" name="fecha_fin">
                    </div>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
{% endblock %}
