{% extends 'nomina/base.html' %}
{% load static %}
{% block contenedor %}

    <style>
        .mensaje_busqueda {
            text-align: center;
            color: red;
        }
    </style>


{% if request.session.logueo.nombre_rol == "Administrador" %}
    {% if nominas_quincenales %}
    <div class="table-container">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID Nómina Quincena</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for nomina_quincenal in nominas_quincenales %}
                        <tr>
                            <td>{{ nomina_quincenal.id }}</td>
                            <td>{{ nomina_quincenal.fecha_inicio }}</td>
                            <td>{{ nomina_quincenal.fecha_fin }}</td>
                            <td>
                                <a href="{% url 'nomina:nomina_listar' nomina_quincenal.id %}" class="btn btn-dark">
                                    Ver detalles
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="mensaje_busqueda">
        <h3>No se encontraron resultados</h3>
    </div>
    {% endif %}
{% else %}
    {% if nominas_quincenales %}
    <div class="table-container">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID Nómina Quincena</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for nomina_quincenal in nominas_quincenales %}
                        <tr>
                            <td>{{ nomina_quincenal.id }}</td>
                            <td>{{ nomina_quincenal.fecha_inicio }}</td>
                            <td>{{ nomina_quincenal.fecha_fin }}</td>
                            <td>
                                <a href="{% url 'nomina:nomina_listar' nomina_quincenal.id %}" class="btn btn-dark">
                                    Ver detalles
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="mensaje_busqueda">
        <h3>No se encontraron resultados</h3>
    </div>
    {% endif %}
{% endif %}
{% endblock %}